body {
    text-align: center;
}

#outputCanvas {
    margin: 12px auto;
    padding: 52px;
    background-color: silver;
    border: 12px solid navy;
    border-radius: 12px;
    display: none;
}

#outputCanvas img {
    border-radius: 12px;
}

input[type=file] {
    color: silver;
    padding: 14px;
    border-radius: 12px;
    background-color: navy;
}

input[type=file]::file-selector-button {
    background-color: silver;
    padding: 10px;
    color: navy;
    border-radius: 12px;
    border: 3px solid silver;
}

input[type=file]::file-selector-button:hover {
    background-color: navy;
    color: silver;
}

.button-container {
    margin: 12px auto;
    width: fit-content;
    padding: 8px;
    border-radius: 12px;
    background-color: navy;
}

.button-container button {
    font-size: 20px;
    border: 3px solid silver;
    border-radius: 3px;
    font-weight: bold;
    padding: 10;
    background-color: silver;
}

.button-container button:hover {
    background-color: navy;
    color: silver;
}

header {
    height: 15px;
    padding: 16px;
    margin-bottom: 10px;
    background-color: navy;
}

header h2 {
    padding: 0;
    margin: 0;
    top: 0;
    color: silver;
    float: left;
}

header nav {
    float: right;
}

header nav a {
    margin: 3px;
    border: silver 3px solid;
    border-radius: 10px;
    color: silver;
    text-decoration: none;
    padding: 4px;
}

header nav a:hover {
    color: navy;
    background-color: silver;
}